<form method="POST" action="/">
  <div class="mb-3">
    <label for="url" class="form-label"></label>
    <!--使用者必須輸入URL-->
    <input type="url" name="url" class="form-control bs-gray-600" id="originalURL"  placeholder="Input URL here" style="background-color: #dee2e6" required>
  </div>
  <button type="submit" class="btn btn-outline-primary">Shorten</button>
</form>