<div class="mb-3">  
  <h3 style="text-align: start;">Success! Please use this link:</h3>
  <a href="/{{url}}" class="newurl">
    https://localhost:3000/{{url}}   
  </a>
</div>
<button type="submit" class="btn btn-copy btn-outline-primary" onclick="copyEvent()">Copy</button>



<script>
  function copyEvent() {
    navigator.clipboard
      .writeText("https://localhost:3000/{{ url }}")
      .then(() => alert('複製成功！'))
      .catch(error => console.log(error))
  }  
</script>